.book-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.book-container h1 {
  font-size: 24px;
  color: #007bff;
}

.book-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.book-table th,
.book-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.book-table th {
  background-color: #2c3e50;
  color: white;
}

.book-table td {
  background-color: #fff;
}

.book-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
